body {
  background: url('<img src="../images/6iyXRErBT.jpg"') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 20px solid;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  padding-top: 120px;
}

h1 {
  text-align: center;
}
h1 {
  font-size: 5em;
}

img {
  width: 100%;
  height: px;
  position: relative;
  margin:0 auto;
}
#carouselExampleFade {
  width: 90vw;
  background-color: blue;
  margin: auto;
  border: 5px solid;
  overflow: hidden;
}
